h2 {
  width: 1px;
  position: absolute;
  overflow: hidden;
}

.paragraph {
  margin-bottom: 2em;
  color: #333333;
}

.button-list {
  margin-bottom: 1em;
  order: -1;
}

button {
  display: block;
  margin-bottom: 1em;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #1F2310;
  color: #eee;
  font-size: inherit;
  cursor: pointer;
  transition: background-color 1s;
}

button:hover {
  background-color: #474d24;
}

.highlight-text {
  cursor: pointer;
  position: relative;
  background-color: #d86f7c;
  /* 80D0C7 */
}

.highlight-text:hover::after {
  content: "CLICK REMOVE";
  display: inline-block;
  white-space: nowrap;
  font-size: 5px;
  background-color: #ddd;
  position: absolute;
  top: -10px;
  left: 0;
}