.App {
  text-align: center;
}

.App-content {
  min-height: 100vh;
}

.App-default {
  padding: 2em 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d7c4bb;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: #333333;
}

.App-header {
  margin-bottom: 1rem;
}

.App-footer {
  margin-top: auto;
}

.App-main {
  margin-bottom: 2rem;
}

.App-code {
  font-family: monospace;
  font-size: 1rem;
  color: #333333;
  word-wrap: break-word;
}

.App-link {
  color: #333333;
  text-decoration: none;
  transition: .3s;
}

.App-link-light:hover {
  color: #4eadc7;
}

.App-container {
  width: 1173px;
  margin: auto;
}

.App-container .content {
  display: flex;
  justify-content: center;

}